$red: red;
$orange:orange;
$footerTextColor:#767676;
@mixin line-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin main-wrapper {
    width: 1080px;
    margin: 0 auto;
}

@mixin flex-layout($justify:center, $align:center, $dir:row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}