.common-footer {
    border-top: 1px solid #ccc;
    .inner-footer {
        @include main-wrapper;
        ul {
            @include flex-layout(space-between, flex-start, row);
            margin-top: 0;
            li {
                @include flex-layout(center, flex-start, column);
            }
            h4 {
                text-align: center;
                font-size: 16px;
                margin: 0;
                padding: 20px 0;
            }
            a {
                text-align: center;
                text-decoration: none;
                color: $footerTextColor;
                padding: 5px;
                padding-left: 0px;
            }
        }
        .copyright {
            // @include main-wrapper;
            padding-top: 30px;
            text-align: center;
            border-top: 1px solid #ccc;
            color: $footerTextColor;
            font-size: 10px;
        }
    }
}